body {
    padding: 1rem;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }
  
  h1 {
    padding: 20px;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: black;
    background-color: brown;
    text-align: center;
  }

  h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    background-color: brown;
    text-align: center;
  }


  p1 {
      font-size: 25px;
      color: black;
      font-family; 
  }

  p2{
    padding:1rem;
    float: left;
    margin:1%;
    line-height: 10px;
    font-size:100px;
  }

  .figure{
    padding:1rem;
    margin:50px
  }

  .card-body{
    font-style: normal;
    background: black;
    color: white;


  }